<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta-me</title>
    <link rel="shortcut icon" th:href="@{/assets/logo.png}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>

    <header class="header">
        <div class="container header-container">
            <a class="logo" th:href="@{/}"><img th:src="@{/assets/logo.svg}" alt=""></a>

            <div class="wrapper">
                <nav class="main-nav">
                    <ul class="nav-left">
                        <li class="dropdown">
                            <a href="" style="text-decoration: none; color: #000;">CADASTROS <i
                                    class="arrow-down"></i></a>
                            <!-- <ul class="dropdown-menu">
                <li>
                  <a href="">Médicos</a>
                </li>
                <li>
                  <a href="">Consultas</a>
                </li>
              </ul> -->
                        </li>
                    </ul>
                    <ul class="nav-right">
                        <li class="dropdown">
                            <a href="" style="text-decoration: none; color: #000;">Olá, <span>WILLIAM</span><i
                                    class="arrow-down"></i></a>
                        </li>
                    </ul>
                    <!-- <div class="navbar-form">
            <a href="" class="btn-link">Login</a>
          </div> -->
                </nav>

            </div>
        </div>
    </header>


    <main class="container">
        <section class="card form-card">
            <h2 class="title">Agendamento de Consultas</h2>

            <form th:object="${consulta}" method="post" th:action="@{/consultas/cadastrar}">
                <!-- <input type="hidden" name="id"> -->

                <div class="form-group">
                    <label for="paciente">Paciente</label>
                    <select id="paciente" name="paciente" th:field="*{paciente}" required>
                        <option value="" disabled selected>Selecione um paciente</option>
                        <option th:each="pac : ${pacientes}" th:value="${pac.id}" th:text="${pac.nome}">Paciente
                        </option>
                    </select>
                </div>


                <div class="form-group">
                    <label>Especialidade:</label>
                    <select name="especialidade">
                        <option value="">Selecione</option>
                        <option th:each="esp : ${especialidades}" th:value="${esp}" th:text="${esp}">
                        </option>
                    </select>
                    <button type="submit">Buscar médicos</button>
                </div>

                <div class="form-group">
                    <label>Médico:</label>
                    <select th:field="*{medico}">
                      <option value="">Selecione</option>
                      <option th:each="m : ${medicos}" 
                              th:value="${m.id}" 
                              th:text="${m.nome}">
                      </option>
                    </select>
                  </div>

                <!-- <div class="form-group">
            <label for="medico">Médico</label>
            <select id="medico" name="medico" th:field="*{medico}" required>
              <option value="" disabled selected>Selecione um médico</option>
              <option th:each="med : ${medicos}" th:value="${med.id}" th:text="${med.nome}">Médico</option>
            </select>
          </div>

          <div class="form-group">
            <label for="especialidade">Especialidade</label>
            <select id="especialidade" name="especialidade" required>
              <option value="" >Selecione uma especialidade</option>
              <option th:each="especialidade : ${especialidades}" th:value="${especialidade}" th:text="${especialidade}">
                >ORTOPEDIA</option>
            </select>
          </div> -->

             
                <div class="form-group">
                    <label for="data">Data</label>
                    <input th:field="*{data}" type="datetime-local" id="data" required>
                </div>

                <div class="buttons">
                    <button type="submit" class="btn btn-primary">
                        <img th:src="@{/assets/plus.png}" alt="Ícone de adicionar" class="btn-icon">Cadastrar
                    </button>

                    <a th:href="@{/}" class="btn btn-secondary">
                        <img th:src="@{/assets/back.png}" alt="Voltar" class="btn-icon">Voltar
                    </a>
                </div>
            </form>
        </section>
    </main>






    <footer class="footer">
        <div class="container">
            <p>2025 © Desenvolvido por Aluno | Projeto fictício sem fins comerciais. </p>
        </div>
    </footer>


</body>

</html>