<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Consulta-me</title>
  <link rel="shortcut icon" th:href="@{/assets/logo.png}" type="image/x-icon">
  <link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>

  <header class="header">
    <div class="container header-container">
      <a class="logo" th:href="@{/}"><img th:src="@{/assets/logo.svg}" alt=""></a>

      <div class="wrapper">
        <nav class="main-nav">
          <ul class="nav-left">
            <li class="dropdown">
              <a href="" style="text-decoration: none; color: #000;">CADASTROS <i class="arrow-down"></i></a>
              <!-- <ul class="dropdown-menu">
                <li>
                  <a href="">Médicos</a>
                </li>
                <li>
                  <a href="">Consultas</a>
                </li>
              </ul> -->
            </li>
          </ul>
          <ul class="nav-right">
            <li class="dropdown">
              <a href="" style="text-decoration: none; color: #000;">Olá, <span>WILLIAM</span><i
                  class="arrow-down"></i></a>
            </li>
          </ul>
          <!-- <div class="navbar-form">
            <a href="" class="btn-link">Login</a>
          </div> -->
        </nav>

      </div>
    </div>
  </header>

  <main class="container">
    <section class="card form-card">
      <h2 class="title">Cadastro de médico</h2>

      <form th:object="${medico}" method="post" th:action="@{/medicos/cadastrar}">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">

        <div class="form-group">
          <label for="nome">Nome:</label>
          <input th:field="*{nome}" id="nome" name="nome" required>
        </div>

        <div class="form-group">
          <label for="email">Email:</label>
          <input th:field="*{email}" id="email" name="email" required>
        </div>

        <!-- <div class="form-group">
            <label for="telefone">Telefone:</label>
            <input id="telefone" name="telefone" required>
          </div> -->

        <div class="form-group">
          <label for="crm">CRM:</label>
          <input th:field="*{crm}" id="crm" name="crm" required>
        </div>

        <div class="form-group">
          <label for="especialidade">Especialidade</label>
          <select id="especialidade" th:field="*{especialidade}" required>
            <option value="" disabled selected>Selecione uma especialidade</option>
            <option th:each="esp : ${especialidades}" th:value="${esp}" th:text="${esp}">
              >ORTOPEDIA</option>
          </select>
        </div>

        <div class="buttons">
          <button type="submit" class="btn btn-primary">
            <img th:src="@{/assets/plus.png}" alt="Ícone de adicionar" class="btn-icon">Cadastrar
          </button>

          <a th:href="@{/}" class="btn btn-secondary">
            <img th:src="@{/assets/back.png}" alt="Voltar" class="btn-icon">Voltar
          </a>
        </div>
      </form>
    </section>
  </main>

  <footer class="footer">
    <div class="container">
      <p>2025 © Desenvolvido por Aluno | Projeto fictício sem fins comerciais. </p>
    </div>
  </footer>


</body>

</html>