<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Consulta-me</title>
  <link rel="shortcut icon" th:href="@{/assets/logo.png}" type="image/x-icon">
  <link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>

  <header class="header">
    <div class="container header-container">
      <a class="logo" th:href="@{/}"><img th:src="@{/assets/logo.svg}" alt=""></a>

      <div class="wrapper">
        <nav class="main-nav">
          <ul class="nav-left">
            <li class="dropdown">
              <a href="" style="text-decoration: none; color: #000;">CADASTROS <i class="arrow-down"></i></a>
              <!-- <ul class="dropdown-menu">
                    <li>
                      <a href="">Médicos</a>
                    </li>
                    <li>
                      <a href="">Consultas</a>
                    </li>
                  </ul> -->
            </li>
          </ul>
          <ul class="nav-right">
            <li class="dropdown">
              <a href="" style="text-decoration: none; color: #000;">Olá, <span>WILLIAM</span><i
                  class="arrow-down"></i></a>
            </li>
          </ul>
          <!-- <div class="navbar-form">
                <a href="" class="btn-link">Login</a>
              </div> -->
        </nav>

      </div>
    </div>
  </header>


  <div>
    <main class="container">
      <section class="card">
        <h2 class="title">Listagem de médicos</h2>

        <div class="table-controls">
          <a th:href="@{/medicos/cadastrar}" class="btn btn-tertiary">
            <img th:src="@{/assets/plus.png}" alt="Ícone de adicionar" class="btn-icon">
            Novo Médico
          </a>
        </div>

        <table class="tabela">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Email</th>
              <th>CRM</th>
              <th>Especialidade</th>
              <th>Ações</th>
            </tr>
          </thead>

          <tbody>
            <tr th:each="medico : ${medicos}">
              <td th:text="${medico.nome}">José William Firmino Beze...</td>
              <td th:text="${medico.email}">Williams.an@hotmail.com</td>
              <td th:text="${medico.crm}">444444</td>
              <td th:text="${medico.especialidade}">ORTOPEDIA</td>
              <td>
                <a href="#" class="btn btn-edit" title="Editar">
                  <img src="../assets/edit.svg" alt="Editar">
                </a>

                <a href="#deleteModal" class="btn btn-delete" data-toggle="modal" title="Excluir">
                  <img src="../assets/delete.svg" alt="Excluir">
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </main>
  </div>


  </section>
  </main>
  </div>


  <footer class="footer">
    <div class="container">
      <p>2025 © Desenvolvido por Aluno | Projeto fictício sem fins comerciais. </p>
    </div>
  </footer>


</body>

</html>